  @media screen and (max-width: 768px) {
    .menuClosed {
      position: absolute;
      transition: 0.3s ease-in-out;
      top: -50%;
    }

    .menuOpened {
      position: absolute;
      transition: 0.3s ease-in-out;
      top: 0%;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
    }

    .toggleUp {
      position: absolute;
      left: 0;
      right: 0;
      top: -6rem;
      transition: 0.3s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 98.3%);
      width: 20%;
      height: 10rem;
      border-bottom-right-radius: 30%;
      border-bottom-left-radius: 30%;

      .arrowDown {
        animation: arrowEffect 2s infinite backwards;
      }

      &:hover {
        border-bottom-right-radius: 20%;
        border-bottom-left-radius: 20%;
        border: 0.1rem solid #fff;
        transform: scale(1.2);
      }
    }

    .toggleDown {
      position: absolute;
      display: block;
      top: 43%;
      transition: 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      height: 4rem;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @keyframes arrowEffect {
    0% {
      transform: translateY(-.5rem) rotate(45deg);
    }

    50% {
      transform: translateY(0rem) rotate(45deg);
    }

    100% {
      transform: translateY(-.5rem) rotate(45deg);
    }
  }