body {
  -ms-overflow-style: none;
  margin: 0;
}

html {
  min-height: calc(100vh);
  line-height: 1.429;
  font-size: 62.5%;
  width: calc(100% + (100vw - 100%));
  position: absolute;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

* {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
